body {
  background-image: url("https://imgnooz.com/sites/default/files/wallpaper/abstract/55622/purple-waves-wallpapers-55622-9555662.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

